.heroContainer{
    background: linear-gradient(to right, rgba(0,0,0,0.7),rgba(0,0,0,0.1) ),url("https://images.pexels.com/photos/4337845/pexels-photo-4337845.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.heroContent{
    height: calc(100vh -80px);
    max-height: 100%;
    padding: 0rem calc((100vw - 1300px) /2)  ;
}

.heroItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    max-height: 100%;
    padding: 0 2rem;
    /* width: 1300px; */
    color: #fff;
    line-height: 1;
    font-weight: bold;
}

.heroH1{
    font-size: clamp(1rem,4vw,4.5rem);
    margin-bottom: 2rem;
    box-shadow: 3px 5px #fff;
    letter-spacing: 1px;
}

.heroP{
    font-size: clamp(1rem,4vw,1.7rem);
    margin-bottom: 2rem;
}

.heroB{
    font-size: 1.3rem;
    padding: 0.9rem 2.9rem;
    border: 1px solid #fff;
    transition: 0.2s ease-out;
    cursor: pointer;
    background: none;
    color: #fff;
}

@media screen and (max-width : 768px){
    .heroContent{
        padding: 0rem calc((100vw - 1100px) /2)  ;
    }

    .heroH1{
        font-size:20px;
        margin-bottom: 2rem;
        box-shadow: 3px 5px #fff;
        letter-spacing: 1px;
    }

    .heroP{
        font-size: 15px;
    }

    .heroB{
        padding: 0.5rem 2rem;
    }
}